* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  padding: 10px;
}

.que-box {
  
  display: flex;
  background-color: bisque;
  padding: 20px;
  margin: 10px
}